:root {
  --primary: #78c1f3;
  --secondary: #9be8d8;
}
html {
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
  padding-bottom: 4rem;
  background-color: var(--primary);
}
#form {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 4rem;
}
#input {
  flex: 20;
  border-radius: 1rem;
  border: none;
  font-size: 2rem;
  padding-left: 1rem;
}
#input:focus {
  border: 1px solid gray;
}
#send {
  flex: 3;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
}
#send:hover {
  cursor: pointer;
}
#messages {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#messages > li {
  font-size: 2rem;
  padding: 1rem 4rem;
}
#messages > li:nth-child(odd) {
  background-color: var(--secondary);
  position: relative;
}
#messages > li:nth-child(odd)::before {
  content: "";
  height: 2rem;
  width: 2rem;
  position: absolute;
  background-image: url(images/user.png);
  left: 1rem;
}
#messages > li:nth-child(even) {
  text-align: right;
}
#messages > li:nth-child(even):after {
  content: "";
}
