:root {
  --primary: #6527be;
  --secondary: #9681eb;
}
html {
}
body {
  margin: 0;

  padding-bottom: 4rem;
  background-image: url(images/bg.jpg);
  background-size: 30%;
}
#form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 4rem;
}
#input {
  flex: 20;
  border-radius: 1rem;
  border: 1px solid black;
  font-size: 2rem;
  padding-left: 1rem;
  background-color: #fefefe;
}
#input:focus {
  border: 1px solid gray;
}
#send {
  flex: 3;
  font-size: 2rem;
  border-radius: 1rem;
  border: 1px solid black;
}
#send:hover {
  cursor: pointer;
}
#messages {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#messages > li {
  border-radius: 1.2rem;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  position: relative;
  border: 2px solid rgb(0, 172, 0);
}
#messages > li:nth-child(odd) {
  background-color: #fefefe;
}
#messages > li:nth-child(even) {
  background-color: rgb(220, 255, 220);
  text-align: right;
}
